In [33]:
import pandas as pd

In [38]:
df = pd.read_csv('./arquivos/bovespa_anual1.csv')
df = df.drop('Unnamed: 0',axis=1)
df.sort_values(by = ['qtd_negocios'], inplace=True)
df_ibov = df[df['cod_acao'] == 'IBOV11']
df = df.drop(df_ibov.index)
df

,data_pregao,cod_acao,nome_emp,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,qtd_negocios,vol_financeiro
72739,20220520,W1EL34,WELLTOWER IN,21329.0,21604.0,21329.0,21604.0,10.0,2.152200e+05
75348,20220526,M1PC34,MARATHON PET,47778.0,47787.0,47500.0,47743.0,10.0,6.674600e+05
75405,20220526,NOCG34,NORTHROP GRU,45178.0,45178.0,45005.0,45005.0,10.0,4.967800e+05
75411,20220526,O2HI34,OMEGA HEALTH,4750.0,4750.0,4680.0,4680.0,10.0,5.179000e+04
75421,20220526,P1LD34,PROLOGIS INC,28900.0,29351.0,28900.0,29120.0,10.0,5.523700e+05
...,...,...,...,...,...,...,...,...,...
95028,20220705,MGLU3,MAGAZ LUIZA,210.0,242.0,203.0,238.0,271736400.0,5.978060e+10
116344,20220815,MGLU3,MAGAZ LUIZA,353.0,405.0,352.0,404.0,283656900.0,1.111357e+11
99328,20220713,MGLU3,MAGAZ LUIZA,287.0,298.0,281.0,283.0,287592000.0,8.256956e+10
98627,20220712,MGLU3,MAGAZ LUIZA,265.0,303.0,262.0,293.0,328802300.0,9.511936e+10
115637,20220812,MGLU3,MAGAZ LUIZA,301.0,362.0,295.0,358.0,351712300.0,1.173949e+11