<h1><center>Extraindo Meus Dados Gerais do Strava

Primeiro vamos importar o arquivo onde est√£o as informa√ß√µes, em formato texto, neste caso csv.

In [20]:
import pandas as pd
import datetime as dt

df = pd.read_csv('./activities.csv')
df

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
0,2547543484,"Jul 20, 2019, 10:55:37 AM",Vista chinesa X Parque da Tijuca,Run,NaN,2354,7.34,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3234413368,"Mar 30, 2020, 11:11:26 AM",Passeio da Nina - 30/03/2020,Walk,Passeio bem tranquilo com a Nina Linda... ü•∞üòçüêï,3824,3.31,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3237939172,"Mar 31, 2020, 11:11:55 AM",Passeio Nina 31/03/2020,Walk,NaN,4071,3.74,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3241878609,"Apr 1, 2020, 11:15:48 AM",Passeio da Nina 01/04/2020,Walk,Mais um passeio muito gostoso com a Nina... ‚ù§Ô∏èü•∞üê∂üêï,4235,2.95,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3245830966,"Apr 2, 2020, 11:03:56 AM",Passeio da Nina 02/04/2020,Walk,NaN,3649,2.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,7354998372,"Jun 23, 2022, 9:32:33 AM",Passeio do Chico 23/06/2022,Walk,NaN,3739,4.48,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,1.200262,2141.000000,NaN,NaN,NaN
894,7828297170,"Sep 18, 2022, 1:06:02 PM",Cristo,Run,NaN,2440,6.50,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.664402,242.500000,NaN,NaN,NaN
895,7838155401,"Sep 20, 2022, 11:57:36 AM",Caminhada,Walk,NaN,1843,4.19,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.277548,206.899994,NaN,NaN,NaN
896,7848612315,"Sep 22, 2022, 10:39:08 AM",Cristo 2,Walk,NaN,2562,6.21,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.426401,226.000000,NaN,NaN,NaN
897,7853768776,"Sep 23, 2022, 10:53:53 AM",Caminhada / 'Sprint',Walk,NaN,2616,6.31,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.415390,189.500000,NaN,NaN,NaN

In [ ]:
#df.columns.tolist()
#print(list(df.columns))

In [19]:
df = df.dropna(how='all',axis=1)

#Retira todas as colunas (axis=1), onde <b>todos</b> os valores s√£o NaN/Nulo.

In [ ]:
df = df.drop(['Calories',
 'Perceived Exertion',
 'Prefer Perceived Exertion',
 'Perceived Relative Effort'], axis=1)

#Fui retirando as colunas que n√£o seriam √∫teis no momento.

In [ ]:
df = df.drop(['Commute',
 'Filename',
 'Athlete Weight',
 'Elapsed Time.1'],axis=1)

In [ ]:
df = df.drop(['Activity Type'],axis=1)

In [ ]:
df = df.drop(['Activity Name'],axis=1)

In [ ]:
df = df.drop(['Activity Description'],axis=1)

In [ ]:
df = df.drop(['<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged">Flagged</span>',
 '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed">Avg Elapsed Speed</span>',
 '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance">Dirt Distance</span>'],axis=1)

In [ ]:
df = df.drop(['Commute.1',
 'From Upload',
 'Grade Adjusted Distance'],axis=1)

In [ ]:
df = df.drop(['Distance.1'],axis=1)

In [ ]:
df = df.drop(['Max Grade', 'Average Grade'],axis=1)

#Terminei de remover as colunas e imprimi um Excel do Data Frame.

In [ ]:
#df.to_excel('Strava_activities_py.xlsx')

================>>><<<<<>>>>><====================================>

#A Tabela que tinha 84 colunas, agora est√° com 11.


#O Elapse Time e o moving Time est√£o em segundos, ent√£o, √© preciso converter para horas, minutos e Segundos

#Eu vou dividir o Data Frame em algumas tabelas, utilizando o 'Activity ID' como identificador para fazer as rela√ß√µes entre as tabelas no Power BI

In [ ]:
df_time = pd.DataFrame(columns=['Activity ID','Activity Date','Elapsed Time','Moving Time'])
df_time['Activity ID'],df_time['Activity Date'], df_time['Elapsed Time'], df_time['Moving Time'] = df['Activity ID'],df['Activity Date'],df['Elapsed Time'],df['Moving Time']
df_time['Elapsed HMS'] = pd.to_timedelta(df_time['Elapsed Time'], unit='S')
df_time['Moving HMS'] = pd.to_timedelta(df_time['Moving Time'], unit='s')

#Convertido o tempo total e o tempo em movimento. Estavam em segundos e agora no formato 'Total' D/M/A-H:M:S

O tempo est√° em segundos, ent√£o, podemos alterar para o formato H:M:S
J√°, as velocidades n√£o est√£o em Km/h, nem em m/s - > para este caso, dever√≠amos multiplicar/dividir por 3,6
Caso esteja em kts(N√≥) multiplicamos por 1,852
Caso seja mph multiplicamos por 1.61

In [ ]:
df_speed = pd.DataFrame(columns=['Activity ID','Max Speed','Average Speed'])
df_speed['Activity ID'], df_speed['Max Speed'], df_speed['Average Speed'] = df['Activity ID'],df['Max Speed'],df['Average Speed']

In [ ]:
df_distance = pd.DataFrame(columns=['Activity ID', 'Distance'])
df_distance['Activity ID'], df_distance['Distance'] = df['Activity ID'], df['Distance']

In [ ]:
df_height = pd.DataFrame(columns=['Activity ID','Elevation Gain','Elevation Loss','Elevation Low','Elevation High'])
df_height['Activity ID'], df_height['Elevation Gain'], df_height['Elevation Loss'], df_height['Elevation Low'], df_height['Elevation High'] = df['Activity ID'], df['Elevation Gain'], df['Elevation Loss'], df['Elevation Low'], df['Elevation High']
df_speed

#Por hora acredito que √© isso com Python, agora vou importar todas as planilhas no <b>Power Bi</b> e Iniciar o relat√≥rio.

In [ ]:
df_speed = df_speed.sort_values(['Max Speed'], ascending=False)
display(df_speed)

In [23]:
df_description = pd.DataFrame(columns=['Activity ID', 'Activity Name', 'Activity Description'])
df_description['Activity ID'], df_description['Activity Name'], df_description['Activity Description'] = df['Activity ID'], df['Activity Name'], df['Activity Description']

================>>>>>>>>>>>><<<<<<<<<<<<<<<<>>>>>>>>>><<<<<<<<<<<>>>>>>>>>>>>>>>>><=============================================