<h1><center>Extraindo Meus Dados Gerais do Strava

Primeiro vamos importar o arquivo onde est√£o as informa√ß√µes, em formato texto, neste caso csv.

In [137]:
import pandas as pd
import datetime as dt

df = pd.read_csv('./activities.csv')
df

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
0,2547543484,"Jul 20, 2019, 10:55:37 AM",Vista chinesa X Parque da Tijuca,Run,NaN,2354,7.34,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3234413368,"Mar 30, 2020, 11:11:26 AM",Passeio da Nina - 30/03/2020,Walk,Passeio bem tranquilo com a Nina Linda... ü•∞üòçüêï,3824,3.31,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3237939172,"Mar 31, 2020, 11:11:55 AM",Passeio Nina 31/03/2020,Walk,NaN,4071,3.74,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3241878609,"Apr 1, 2020, 11:15:48 AM",Passeio da Nina 01/04/2020,Walk,Mais um passeio muito gostoso com a Nina... ‚ù§Ô∏èü•∞üê∂üêï,4235,2.95,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3245830966,"Apr 2, 2020, 11:03:56 AM",Passeio da Nina 02/04/2020,Walk,NaN,3649,2.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,7354998372,"Jun 23, 2022, 9:32:33 AM",Passeio do Chico 23/06/2022,Walk,NaN,3739,4.48,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,1.200262,2141.000000,NaN,NaN,NaN
894,7828297170,"Sep 18, 2022, 1:06:02 PM",Cristo,Run,NaN,2440,6.50,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.664402,242.500000,NaN,NaN,NaN
895,7838155401,"Sep 20, 2022, 11:57:36 AM",Caminhada,Walk,NaN,1843,4.19,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.277548,206.899994,NaN,NaN,NaN
896,7848612315,"Sep 22, 2022, 10:39:08 AM",Cristo 2,Walk,NaN,2562,6.21,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.426401,226.000000,NaN,NaN,NaN
897,7853768776,"Sep 23, 2022, 10:53:53 AM",Caminhada / 'Sprint',Walk,NaN,2616,6.31,NaN,NaN,False,...,NaN,NaN,NaN,NaN,0.0,2.415390,189.500000,NaN,NaN,NaN

In [138]:
#df.columns.tolist()
#print(list(df.columns))

In [139]:
df = df.dropna(how='all',axis=1)

In [140]:
df = df.drop(['Calories',
 'Perceived Exertion',
 'Prefer Perceived Exertion',
 'Perceived Relative Effort'], axis=1)

In [141]:
df = df.drop(['Commute',
 'Filename',
 'Athlete Weight',
 'Elapsed Time.1'],axis=1)

In [142]:
df = df.drop(['Activity Type'],axis=1)

In [143]:
df = df.drop(['Activity Name'],axis=1)

In [144]:
df = df.drop(['Activity Description'],axis=1)

In [145]:
df = df.drop(['<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged">Flagged</span>',
 '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed">Avg Elapsed Speed</span>',
 '<span class="translation_missing" title="translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance">Dirt Distance</span>'],axis=1)

In [146]:
df = df.drop(['Commute.1',
 'From Upload',
 'Grade Adjusted Distance'],axis=1)

In [147]:
df = df.drop(['Distance.1'],axis=1)

In [148]:
df = df.drop(['Max Grade', 'Average Grade'],axis=1)

In [149]:
#df.to_excel('Strava_activities_py.xlsx')

In [150]:
df

,Activity ID,Activity Date,Elapsed Time,Distance,Moving Time,Max Speed,Average Speed,Elevation Gain,Elevation Loss,Elevation Low,Elevation High
0,2547543484,"Jul 20, 2019, 10:55:37 AM",2354,7.34,2300.0,8.000000,NaN,186.251724,NaN,284.200012,502.899994
1,3234413368,"Mar 30, 2020, 11:11:26 AM",3824,3.31,3087.0,5.600000,1.072757,21.738880,18.438900,7.300000,19.100000
2,3237939172,"Mar 31, 2020, 11:11:55 AM",4071,3.74,3431.0,5.400000,1.092043,34.728710,34.828701,6.400000,20.100000
3,3241878609,"Apr 1, 2020, 11:15:48 AM",4235,2.95,2915.0,4.300000,1.014786,35.090286,26.090300,6.400000,23.299999
4,3245830966,"Apr 2, 2020, 11:03:56 AM",3649,2.49,2666.0,8.400000,0.934959,24.079664,25.379700,7.100000,20.200001
...,...,...,...,...,...,...,...,...,...,...,...
893,7354998372,"Jun 23, 2022, 9:32:33 AM",3739,4.48,2945.0,17.302000,1.523864,14.019833,12.219832,9.200000,16.000000
894,7828297170,"Sep 18, 2022, 1:06:02 PM",2440,6.50,2409.0,9.150000,2.698688,137.447983,140.847992,586.299988,672.599976
895,7838155401,"Sep 20, 2022, 11:57:36 AM",1843,4.19,1769.0,11.252002,2.372821,89.072693,92.672691,602.000000,659.299988
896,7848612315,"Sep 22, 2022, 10:39:08 AM",2562,6.21,2562.0,7.291992,2.426401,133.748886,134.148880,586.700012,672.700012
897,7853768776,"Sep 23, 2022, 10:53:53 AM",2616,6.31,2575.0,17.329981,2.453849,92.996300,97.296295,586.700012,659.299988

================>>><<<<<>>>>><====================================>

In [151]:
df_time = pd.DataFrame(columns=['Activity ID','Activity Date','Elapsed Time','Moving Time'])
df_time['Activity ID'],df_time['Activity Date'], df_time['Elapsed Time'], df_time['Moving Time'] = df['Activity ID'],df['Activity Date'],df['Elapsed Time'],df['Moving Time']
df_time

     Activity ID              Activity Date  Elapsed Time  Moving Time
0     2547543484  Jul 20, 2019, 10:55:37 AM          2354       2300.0
1     3234413368  Mar 30, 2020, 11:11:26 AM          3824       3087.0
2     3237939172  Mar 31, 2020, 11:11:55 AM          4071       3431.0
3     3241878609   Apr 1, 2020, 11:15:48 AM          4235       2915.0
4     3245830966   Apr 2, 2020, 11:03:56 AM          3649       2666.0
..           ...                        ...           ...          ...
893   7354998372   Jun 23, 2022, 9:32:33 AM          3739       2945.0
894   7828297170   Sep 18, 2022, 1:06:02 PM          2440       2409.0
895   7838155401  Sep 20, 2022, 11:57:36 AM          1843       1769.0
896   7848612315  Sep 22, 2022, 10:39:08 AM          2562       2562.0
897   7853768776  Sep 23, 2022, 10:53:53 AM          2616       2575.0

[898 rows x 4 columns]

O tempo est√° em segundos, ent√£o, podemos alterar para o formato H:M:S
J√°, as velocidades n√£o est√£o em Km/h, nem em m/s - > para este caso, dever√≠amos multiplicar/dividir por 3,6
Caso esteja em kts(N√≥) multiplicamos por 1,852
Caso seja mph multiplicamos por 1.61

In [152]:
df_speed = pd.DataFrame(columns=['Activity ID','Max Speed','Average Speed'])
df_speed['Activity ID'], df_speed['Max Speed'], df_speed['Average Speed'] = df['Activity ID'],df['Max Speed'],df['Average Speed']
df_speed

     Activity ID  Max Speed  Average Speed
0     2547543484   8.000000            NaN
1     3234413368   5.600000       1.072757
2     3237939172   5.400000       1.092043
3     3241878609   4.300000       1.014786
4     3245830966   8.400000       0.934959
..           ...        ...            ...
893   7354998372  17.302000       1.523864
894   7828297170   9.150000       2.698688
895   7838155401  11.252002       2.372821
896   7848612315   7.291992       2.426401
897   7853768776  17.329981       2.453849

[898 rows x 3 columns]

In [153]:
df_distance = pd.DataFrame(columns=['Activity ID', 'Distance'])
df_distance['Activity ID'], df_distance['Distance'] = df['Activity ID'], df['Distance']
df_distance

     Activity ID  Distance
0     2547543484      7.34
1     3234413368      3.31
2     3237939172      3.74
3     3241878609      2.95
4     3245830966      2.49
..           ...       ...
893   7354998372      4.48
894   7828297170      6.50
895   7838155401      4.19
896   7848612315      6.21
897   7853768776      6.31

[898 rows x 2 columns]

In [154]:
df_height = pd.DataFrame(columns=['Activity ID','Elevation Gain','Elevation Loss','Elevation Low','Elevation High'])
df_height['Activity ID'], df_height['Elevation Gain'], df_height['Elevation Loss'], df_height['Elevation Low'], df_height['Elevation High'] = df['Activity ID'], df['Elevation Gain'], df['Elevation Loss'], df['Elevation Low'], df['Elevation High']
df_height

,Activity ID,Elevation Gain,Elevation Loss,Elevation Low,Elevation High
0,2547543484,186.251724,NaN,284.200012,502.899994
1,3234413368,21.738880,18.438900,7.300000,19.100000
2,3237939172,34.728710,34.828701,6.400000,20.100000
3,3241878609,35.090286,26.090300,6.400000,23.299999
4,3245830966,24.079664,25.379700,7.100000,20.200001
...,...,...,...,...,...
893,7354998372,14.019833,12.219832,9.200000,16.000000
894,7828297170,137.447983,140.847992,586.299988,672.599976
895,7838155401,89.072693,92.672691,602.000000,659.299988
896,7848612315,133.748886,134.148880,586.700012,672.700012
897,7853768776,92.996300,97.296295,586.700012,659.299988

================>>>>>>>>>>>><<<<<<<<<<<<<<<<>>>>>>>>>><<<<<<<<<<<>>>>>>>>>>>>>>>>><=============================================

In [156]:
df_time['ElapsedTime2'] = df_time['Elapsed Time'] * 2

df_time

,Activity ID,Activity Date,Elapsed Time,Moving Time,ElapsedTime2
0,2547543484,"Jul 20, 2019, 10:55:37 AM",2354,2300.0,4708
1,3234413368,"Mar 30, 2020, 11:11:26 AM",3824,3087.0,7648
2,3237939172,"Mar 31, 2020, 11:11:55 AM",4071,3431.0,8142
3,3241878609,"Apr 1, 2020, 11:15:48 AM",4235,2915.0,8470
4,3245830966,"Apr 2, 2020, 11:03:56 AM",3649,2666.0,7298
...,...,...,...,...,...
893,7354998372,"Jun 23, 2022, 9:32:33 AM",3739,2945.0,7478
894,7828297170,"Sep 18, 2022, 1:06:02 PM",2440,2409.0,4880
895,7838155401,"Sep 20, 2022, 11:57:36 AM",1843,1769.0,3686
896,7848612315,"Sep 22, 2022, 10:39:08 AM",2562,2562.0,5124
897,7853768776,"Sep 23, 2022, 10:53:53 AM",2616,2575.0,5232