# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
x = [1,2,3,4,5,6,7,8,9,10]
x

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
x = [1,2,'Felipe',4,"Cinco"]
print(x,len(x))

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
x = "Felipe"
y = 'Python'
w = x + " " + y
w

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
x = (1, 2, 2, 3, 4, 4, 4, 5)
x.count(4)

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
x = {}
x

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
x = {"Felipe": 34, "Roberta": 40, '[1,2,3]': 10}
x

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
x["Diogo"] = 20
x

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
x = {"Felipe": 10, '[4,7]': "ímpar", '10':30}

In [20]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
x = ["Felipe", (19,44,32), 3.2,{"Felipe": 10, '[4,7]': "ímpar", '10':30,}]
x

['Felipe', (19, 44, 32), 3.2, {'Felipe': 10, '[4,7]': 'ímpar', '10': 30}]

In [21]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:19]

'ientista de Dados '

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>

Parabéns se você chegou até aqui. Use o voucher PYTHONDSA9642 para comprar qualquer curso ou Formação da DSA com 5% de desconto.