#Python Dicionários

In [ ]:
dic = { "Matheus":20, 'Fabiana':27, 'Jucelino':43, "Estephany":12, 'Jorge':33 }

In [ ]:
dic

In [ ]:
dic['Matheus']

In [ ]:
dic['Matheus'] = 33
dic['Matheus']

In [ ]:
dic['Roberval'] = 198
dic

In [ ]:
dic.clear()
dic

In [ ]:
del dic
dic

In [ ]:
dic = { "Matheus":20, 'Fabiana':27, 'Jucelino':43, "Estephany":12, 'Jorge':33 }
len(dic)

In [ ]:
dic.keys()

In [ ]:
dic.values()

In [ ]:
dic.items()

In [42]:
dic2 = {'Maria': 20, "Maria2":30, 'Maria3':50, 'Maria4':60}
dic.update(dic2)
dic

{'Matheus': 20,
 'Fabiana': 27,
 'Jucelino': 43,
 'Estephany': 12,
 'Jorge': 33,
 'Maria': 20,
 'Maria2': 30,
 'Maria3': 50,
 'Maria4': 60}

In [46]:
dic3 = {}
dic3[10] = 20
dic3["Morgado"] = 35
dic3[13] = 'Lula'
dic3

{10: 20, 'Morgado': 35, 13: 'Lula'}

In [51]:
dic['Lista'] = [1, 2, 3, 4, 5]
dic["Lista"][2]

3

In [56]:
dic["Lista"][0] + dic["Lista"][4]

6

#Tuplas - (Listas Imutáveis)

In [67]:
tp = ("Maria", 30, "Corinthians", [1,2,3,4], {'Felipe':20})
tp

('Maria', 30, 'Corinthians', [1, 2, 3, 4], {'Felipe': 20})

In [68]:
len(tp)

5

In [62]:
tp.index('Corinthians')

2

In [64]:
tp[0]

'Maria'

In [66]:
tp[:-1]

('Maria', 30, 'Corinthians')

In [72]:
tp[4]['Felipe']

20

Uma forma de 'contornar' a imutabilidade de uma tupla é transforma-la em uma lista, fazer a alteração que deseja e depois, retorna-la para uma lista novamente.

In [79]:
tp = list(tp)
tp.append({"Lula":13})
tp = tuple(tp)
print(tp, type(tp))

('Maria', 30, 'Corinthians', [1, 2, 3, 4], {'Felipe': 20}, {'Lula': 13}, {'Lula': 13}, {'Lula': 13}, {'Lula': 13}, {'Lula': 13}) <class 'tuple'>